@font-face {
  font-family: "Proxima Nova";
  src: url("nomail.com.ua/files/eot/410504d49238e955ba7dc23a7f963021.eot?#iefix") format("embedded-opentype"), url("nomail.com.ua/files/woff/410504d49238e955ba7dc23a7f963021.woff") format("woff"), url("nomail.com.ua/files/woff2/410504d49238e955ba7dc23a7f963021.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.wrapper {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 1170px;
  min-width: 320px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
  display: inline-block;
}

a,
button,
input,
textarea {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
  -webkit-appearance: none;
  outline: none;
}

body, html {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* start */
h1 {
  color: red;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  cursor: default;
}

h1:hover {
  color: blue;
}

h1.active {
  border: 1px solid;
}

/* end */
