// This section included fonts

@font-face {
  font-family: 'Proxima Nova';
  src: url('nomail.com.ua/files/eot/410504d49238e955ba7dc23a7f963021.eot?#iefix')
    format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
}
