// This section for interface elements document
body,
html {
  color: #000;
  font-weight: normal;
  font-style: normal;
  font-family: $globalfont;
}
.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.footer {
  margin-top: auto;
}
.container {
  max-width: 1170px; // width - padding right and left
  min-width: 320px;
  width: 100%;
  padding: 0 15px; // padding
  margin: 0 auto;
  position: relative;
}
