@import "vars";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $link-color;
  display: inline-block;
}

a,
button,
input,
textarea {
  border: none;
  box-shadow: none;
  border-radius: 0;
  -webkit-appearance: none;
  outline: none;
}

body, html {
  color: $global-color;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}